// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
.white {
  color: #FFF;
}

.transparent-bg {
  background-color: transparent;
}

paging-component {
  display: block;
}

.paging-container {
  background-color: blue;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paging-circle-wrapper {
  transform-origin: bottom;
  padding: 0px 10px 0px 10px;
  display: inline-block;
}

.paging-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #FFF;
}

.inner-circle {
  border-radius: inherit;
  height: 100%;
  background-color: #FFF;
  opacity: 0.0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paging-icon {
  color: blue;
  font-size: 30px;
}
